<table class="zebra-striped" id='{{ tableId}}'>	 
    <thead>
        <tr>
             <th></th>
            <th>Course Name</th>
           
            <th>Instructor(s)</th>
            <th>Stream</th>
            <th>Start Date</th>	
            <th>Length</th>
            
        </tr>
    </thead>
    <tbody>
        {% for offering in offerings %}
        <tr>
            <td style="padding: 5px 0px 0px 5px">
                 {% if offering.getVideoIntro() is not null %}
                 <a href="{{ offering.getVideoIntro() }}" rel="intro" title=" {{ offering.getCourse().getName()}} video description">
                <img src="{{ asset('bundles/classcentralsite/images/youtube.png') }}" alt="" height="32" width="32"/>
                </a>              
                {% endif %}
            </td>
            <td><a href="{{ offering.getUrl() }}">{{ offering.getCourse().getName()}}</a></td>
           
            <td>
                    {% set i = 0 %}   
                    {% for instructor in offering.getCourse().getInstructors() %}
                    {% if i > 0 %}
                        <br />{{ instructor.getName() }}
                    {% else %}
                        {{ instructor.getName() }}
                    {% endif %}
                    {% set i = i + 1 %}
                    {% endfor %}
              
            </td>
            <td> {{ offering.getCourse().getStream().getName() }} </td>
            <td data-timestamp="{{ offering.getStartTimestamp }}">{{ offering.getFormattedStartDate() }}</td>
            <td> 
                {% if offering.getLength() is not null %}
                    {{ offering.getLength() }} weeks
                {% else %}
                    NA
                {% endif %}
            </td>
            
        </tr>
        {% endfor %}

    </tbody>
</table>